body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: #FBFBFB;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  min-height: 100vh;
}

.App-header {
  background-color: #FEFEFE;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 20px;
}

.App-logo {
  height: 50px;
}

h1 {
  color: #333;
}

main {
  background-color: #FDFDFD;
  padding: 40px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin: 20px auto;
  max-width: 800px;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  background-color: #FCFCFC;
  margin: 10px 0;
  padding: 10px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
  color: #333;
}

li:hover {
  background-color: #FEFFFF;
}

h2, h3 {
  color: #333;
}
